<p id="notice"><%= notice %></p>

<div class="icons-menu">
	<%= link_to image_tag("icons/home2.png"), {controller:"welcome"}, {:class => "icon"}%>
	<%= link_to image_tag("icons/new.png"), new_curso_path, {:class => "icon"}%>
</div>

<h1>Cursos
<%= render 'search'%>
</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cursos.each do |curso| %>
      <tr>
        <td><%= curso.nome %></td>
        <td><%= curso.valor %></td>
        <td><%= link_to image_tag("icons/show.png"),curso, {:class => "icon"}%></td>
      </tr>
    <% end %>
	<% if @cursos.blank? %>
		<h4>Nao encontrado resultados para <%= params[:search] %>.</h4>
	<% end %>
  </tbody>
</table>

<br>

